<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Araç_Kiralama_OtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-A5GKK7M\SQLEXPRESS;Initial Catalog=Araç_Kiralama_Otomasyon;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>